{{#each venue}}

<div class="text-center">
  <img style="height:300px; width:400px; margin-top:1px" src='{{#if full_img}}{{full_img}}{{else}}https://placeholdit.imgix.net/~text?txtsize=16&txt=Photos+coming+soon&w=210&h=140{{/if}}'alt="{{title}}">
</div>

<div style="margin-left:15px; margin-right:500px">

  <h1>{{title}}</h1>
  <h4>{{street}}</h4>
  <h4>{{city}}, {{postal}}</h4>
  Wifi Speeds:
  <div style="margin-top:5px">
    <span>download</span><p>{{download}} MBPS</p>
    <span>upload</span><p>{{upload}} MBPS</p>
    <h4>About {{title}}:</h4>
    <p>{{description}}</p>
  </div>
</div>

{{/each}}
{{#if verified}}

<div class="comment button" style="margin-bottom:10px">
    <a href="/location/:id" class="btn btn-primary" data-toggle="modal" data-target="#comment-modal">Leave Comment</a>
</div>

{{/if}}
{{#each comments}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>{{username}} wrote:</h3>
    <h3 class="panel-title">{{id}}.) {{title}}</h3>
  </div>
<div class="panel-body">
    <p>{{body}}</p>
    <!-- <h5>Would you recommend this venue?<h5>{{rec}}</h5> -->
</div>
{{#if admin}}
  <form class="" action="/isDeleted/{{id}}" method="post">
        <input type="submit" class="btn btn-danger" value="Delete Comment">
  </form>

    <a href="/modify/{{id}}" class="btn btn-warning" data-toggle="modal">Edit Comment</a>

{{/if}}
</div>
{{/each}}


<div class="modal fade" id="comment-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-horizontal" id="comment-form" action= '/locations/resultID/{{resultID}}/{{user.id}}' method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="title" class="col-lg-2 control-label">Title</label>
                            <div class="col-lg-10">
                                <input type="text" name="title" class="form-control" id="title" placeholder="Comment Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="body" class="col-lg-2 control-label">Body</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" name="body" rows="4" id="body" placeholder="Comment Body"></textarea>
                            </div>
                        </div>
                        <div class="">
                            <div class="form-group">
                                <label for="submitComment" class="col-lg-2 control label"></label>
                                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                <button type="button" class="btn btn-primary pull-right modal-close" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
