<div class="container-fluid">

  <div class="row results-wrapper">
    <div class="col-lg-offset-3 col-lg-6 map-wrapper">
      <h2>{{count}} Results</h2>
      <div id="map"></div>
    </div>
  </div>

  {{#each data}}
  <div class="row result-row">
    <div class="col-lg-offset-3 col-lg-2">
      <a href="/locations/{{this.ID}}"><img src="{{#if this.full_img}}{{this.full_img}}{{else}}https://placeholdit.imgix.net/~text?txtsize=16&txt=Photos+coming+soon&w=210&h=140{{/if}}" alt="{{this.title}}" /></a>
    </div>
    <div class="col-lg-4">

      <a href="/locations/{{this.ID}}"><h4>{{this.title}}</h4></a>
      <h5>{{this.street}}</h5>
      <p>{{this.description}}</p>


    </div>
  </div>
  {{/each}}

</div>

{{{map}}}
